body {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333; /* Dark background */
    color: #aaa; /* dark text */
}

#audioPlayer {
    margin-right: 20px;
    height: 40px;
    border-radius: 6px;
}

.button-icon {
  width: 40px;
  height: 40px;
  background-size: 256px 256px;
  background-image: url('../../static/image/controls.jpg');
  filter: invert(83%); /* Invert colors */
  cursor: pointer;
}

.button-icon:hover {
  filter: invert(20%);
}

button {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #48a;
    color: #111;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.buttons {
  margin-top: 20px;
}


button:hover {
    background-color: #59b;
}

/* You'll need to adjust the background-position for each button based on where the icon is located in your image */
#refreshButton {
  background-position: -152px -79px;
}
#prevButton {
    background-position: -198px -281px;
}
#nextButton {
    background-position: -59px -281px;
}
#randButton {
    background-position: -197px -79px;
}
#pauseButton {
    background-position: -151px -277px;
}

.progress-bar-container {
    width: 100%;
    background-color: #222224;
    padding: 3px;
    margin-top: 10px;
}

.progress-bar {
    height: 20px;
    background-color: #48a;
    width: 0%;
    text-align: center;
    color: white;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-panel, .right-panel {
    background-color: #424242;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.left-panel {
    flex: 1;
    margin-right: 10px;
}

.right-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.graph {
    width: 45%;
    padding: 0px;
}

.graph-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 0px;
}

#controls-container {
    display: flex;
}

#evalGraph {
    width: 100%;
    margin-top: 20px;
}

#lossGraph {
    width: 100%;
    margin-top: 10px;
}

.card {
  background: #333;
  color: #888;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.card-header {
  display: flex;
  margin-bottom: 10px;
    color: #ccc;
}

.card-header h3 {
    margin: 0;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 5px;
  flex-grow: 1;
  min-width: 80px;
}

#modelDetails {
    display: flex;
    justify-content: right;
}

.label {
  color: #aaa;
  grid-column: 1 / 2;
  font-weight: bold;
  text-align: right;
}

.value {
  text-align: left;
}

.conv-layers-table {
    width: 100%; /* Adjust as necessary */
    border-collapse: collapse;
    margin-top: 10px;
}

.conv-layers-table th, .conv-layers-table td {
    border: 1px solid #222;
    padding: 5px 10px;
    text-align: left;
}

.conv-layers-table th {
    background-color: #444; /* Dark background for the header */
    color: #aaa; /* Light text for readability */
}

.conv-layers-table td {
    color: #aaa; /* Light text for readability */
}

tbody tr:nth-child(even) {
    background-color: #383838; /* Zebra-striping for rows */
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        margin-right: 0;
        flex: none; /* Allow the panels to take natural size */
    }

    .graph-container {
        flex-direction: column;
    }

    #lossGraph, #evalGraph {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%; /* Full width on smaller screens */
    }
}