<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Dashboard</title>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
</head>
<body>
<div class="dashboard">
    <div class="left-panel">
        <div class="card">
            <p id="evalStatus"></p>
            <p id="trainingProgressInfo"></p>
            <div class="progress-bar-container">
                <div class="progress-bar" id="trainingProgress">0%</div>
            </div>

            <!-- Controls Section -->
            <p id="loadProgressInfo"></p>
            <div class="progress-bar-container">
                <div class="progress-bar" id="loadProgress">0%</div>
            </div>

            <div class="buttons">
                <button id="trainButton" onclick="startTraining()">Train</button>
                <button id="pauseButton" onclick="pauseTraining()">Pause</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Training Runs</h3>
            </div>
            <div id="config-table">
            </div>
<!--            <div class="dropdowns">-->
<!--                <select id="modelConfigDropdown" onchange="modelConfigSelected(this)">-->
<!--                    &lt;!&ndash; Model configuration folders will be populated here &ndash;&gt;-->
<!--                </select>-->

<!--                <select id="checkpointDropdown">-->
<!--                    &lt;!&ndash; Checkpoints will be populated here based on the selected model configuration &ndash;&gt;-->
<!--                </select>-->
<!--            </div>-->
        </div>
        <div class="card">
            <div id="modelDetails"></div>
        </div>
        <div class="card">
            <div id="architecture"></div>
        </div>
    </div>
    <div class="right-panel">
        <div class="graph-container">
            <div id="lossGraph"></div>
        </div>
        <div id="controls-container">
            <div id="audioPlayerDiv">
                <audio id="audioPlayer" controls>
                    <source src="initial_audio.wav" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div>
                <button id="prevButton" class="button-icon" onclick="evaluatePrev()"></button>
                <button id="nextButton" class="button-icon" onclick="evaluateNext()"></button>
                <button id="refreshButton" class="button-icon" onclick="evaluateSame()"></button>
                <button id="randButton" class="button-icon" onclick="evaluateRandom()"></button>
            </div>
        </div>

        <div class="graph-container">
            <div id="evalGraph"></div>
        </div>
        <div class="graph-container">
            <div id="kernelGraph"></div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
